@import '../constants.scss';
@import './markdown.scss';

.page-container {
  width: 100%;
  max-width: $xxl-max-body-width-center;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
}

.page-mode-pc {
  .page-container {
    max-width: none;
    width: $xxl-page-min-width-center;
  }
}

@media (min-width: $xxl-page-max-width) {
  .page-mode-pc {
    .page-container {
      width: $xxl-page-max-width-center;
    }
  }
}

.markdown-body {
  padding: 20px 0;
  table {
    width: 100%;
  }
}

.slider-banner {
  position: relative;
  margin: 20px auto 55px;
  width: $xxl-page-min-width;

  @media screen and (min-width: $xxl-page-max-width) {
    width: $xxl-page-max-width-center;
  }
}
.slider-banner-mobile {
  position: relative;
  margin: 20px auto 55px;

  .switch-list {
    bottom: 0;
  }
  .switch-item {
    vertical-align: middle;
    width: 5px;
    height: 5px;
    &:before {
      background: rgba(255, 255, 255, 0.5);
    }
  }
  .switch-item-active {
    width: 15px;
    &:before {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.image-list-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;

  .xxl-better-image-blur {
    position: absolute!important;
    left: 0;
    top: 0;
    right: 0;
  }

  .item {
    margin-top: 3%;
    width: 48%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: $xxl-max-body-width) {
      width: 24%;
    }
    
    .image-now {
      position: relative;
      padding-top: 62.5%;

      & > img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%!important;
        object-fit: cover;
      }
    }
    

    h3 {
      margin-top: 5px;
    }
  }

  .item-main {
    padding: 10px;
  }
}
.image-list-2 {
  .xxl-better-image-blur {
    position: absolute!important;
    left: 0;
    top: 0;
    right: 0;
  }
  
  .item {
    display: flex;
    margin-top: 3%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    
    .image-now {
      position: relative;
      width: 200px;
      height: 112px;
    }
    

    h3 {
      margin-top: 5px;
    }
  }

  .item-main {
    padding: 10px;
  }
}