@import './constants.scss';

sub, sup {
  line-height: 0;
}

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

fieldset, img {
  border: 0;

}

input, textarea {
  outline-style: none;
}

input[type="text"], input[type="search"], input[type="password"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

textarea {
  resize: none;

}

address, caption, cite, code, dfn, em, i, th, var {
  font-style: normal;
  font-weight: normal;

}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

a {
  text-decoration: none;
  outline: none;
  color: #6B8CC7;
}

body {
  font-family: -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  -webkit-font-smoothing: antialiased;

}

html,body {
  background-color: #FAFAFA;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  height: 100%;

}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-container {
  max-width: $xxl-max-body-width-center;
  margin: 0 auto;
  padding: 10px;
  flex: 1;
}

.page-container h2 {
  font-size: 1em;
  margin: 20px 0 10px;
}

.page-mode-pc {
  .page-container {
    max-width: none;
    width: $xxl-page-min-width-center;
  }
}

@media (min-width: $xxl-page-max-width) {
  .page-mode-pc {
    .page-container {
      width: $xxl-page-max-width-center;
    }
  }
}
