/**
 * 感谢巧克力很酷制作的主题
 * 链接：https://juejin.cn/post/6909356292574281735
 * https://github.com/QiaokeliHenku/juejin-markdown-theme-qkl/blob/main/xiaoxili.scss
 */

$monospace-font: Menlo, Monaco, Consolas, 'Courier New', monospace;

$line-space: 22px;

// 品牌色
// 用于关键行动点，操作状态，重要提示信息。
$productColor: #2F5AFF;
// 品牌渐变色，用于次要信息，品牌色hover状态等。
$productGradualHost: #6D8BFF;
// 品牌渐变色，用于次要信息，文字hover状态等。
$productGradualMinor: #E6EEFF;

// 功能色
// 用于错误提示
$funError: #FF3271;
// 用于页面颜色的点缀hover状态
$funEmbellish: #FF6F9B;

// 段落颜色
$colorText: #031022;

.markdown-body {
  overflow: hidden;
  line-height: 1.75;
  font-size: 15px;
  background-image:
    linear-gradient(90deg, rgba(72, 42, 10, 0.05) 5%, rgba(72, 42, 10, 0) 5%),
    linear-gradient(360deg, rgba(72, 42, 10, 0.05) 5%, rgba(72, 42, 10, 0) 5%);
  background-size: 20px 20px;
  background-position: center;
  padding-top: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  h1 {
    position: relative;
    padding: 0;
    padding-left: 23px;
    font-size: 25px;
    color: $productGradualHost;
    font-weight: inherit;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 0;
      left: 0;
      background-image: url('https://image-hosting.xiaoxili.com/img/img/20201231/1942cc12adbcebcb940f59a3e6023252-3de225.png?imageView2/2/w/60');
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      margin: auto;
    }
  }

  h2 {
    position: relative;
    padding: 0;
    padding-left: 20px;
    font-size: 20px;
    color: $productGradualHost;
    font-weight: inherit;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 0;
      left: 0;
      background-image: url('https://image-hosting.xiaoxili.com/img/img/20201231/1942cc12adbcebcb940f59a3e6023252-3de225.png?imageView2/2/w/60');
      background-size: contain;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      margin: auto;
    }
  }

  h3 {
    width: 100%;
    text-align: left;
    margin: 20px 10px 0px 0px;
    font-size: 18px;
    padding: 0 10px;
    border-left: 5px solid $productGradualHost;
    color: $productGradualHost;
    font-weight: inherit;
    box-sizing: border-box;
  }

  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-weight: bold;
    color: $productGradualHost;
  }

  h4 {
    font-size: 17px;
  }

  h5,
  h6 {
    display: flex;
    align-items: center;

    &::after {
      display: inline-block;
      border: 2px solid #fff6e0;
      color: $productGradualHost;
      border-radius: 50%;
      text-align: center;
      margin-left: 5px;
    }
  }

  h5 {
    font-size: 14px;

    &::after {
      content: "5";
      width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 13px;
    }
  }

  h6 {
    font-size: 12px;

    &::after {
      content: "6";
      width: 13px;
      height: 13px;
      line-height: 13px;
      font-size: 12px;
    }
  }

  p {
    color: $colorText;
    letter-spacing: 1px;
    font-weight: 400;
  }

  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  hr {
    border-top: 1px solid $productColor;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  code {
    font-family: $monospace-font;
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: $productGradualHost;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
  }

  pre {
    font-family: $monospace-font;
    overflow: auto;
    position: relative;
    line-height: 1.75;

    >code {
      font-size: 12px;
      padding: 15px 12px;
      margin: 0;
      word-break: normal;
      display: block;
      overflow-x: auto;
      color: #333;
      background: #f8f8f8;
    }
  }

  a {
    color: $productColor;
    font-weight: normal;
    border-bottom: 1px solid $productGradualMinor;
    font-weight: bolder;
    text-decoration: none;
    transition: .15s ease;
  }

  table {
    margin: 10px auto;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0px;

    img {
      box-shadow: none;
    }
  }

  thead {
    background: rgba(255, 255, 255, 0.5);
    color: $colorText;
    text-align: left;

    tr th {
      text-align: center;
    }
  }

  th,
  td {
    padding: 12px 7px;
    line-height: 24px;
    box-sizing: border-box;
    border: 1px solid $productGradualMinor;
  }

  th {
    font-weight: bold;
  }

  blockquote {
    position: relative;
    text-size-adjust: 100%;
    line-height: 25px;
    font-weight: 400;
    border-radius: 10px;
    font-style: normal;
    text-align: left;
    box-sizing: inherit;
    border-left: none;
    background-color: $productGradualMinor;
    margin: 20px 0;
    padding: 20px;

    p {
      color: $productGradualHost;
      letter-spacing: 2px;
      margin: 0;
    }

    &::before,
    &::after {
      position: absolute;
      color: $productGradualHost;
      font-size: 34px;
      font-weight: 700;
    }

    &::before {
      content: "❝";
      top: 8px;
      left: 5px;
    }

    &::after {
      content: "❞";
      right: 5px;
      bottom: -5px;
    }
  }

  strong {
    color: $funEmbellish;
    font-weight: bolder;

    &::before {
      content: '「';
    }

    &:after {
      content: '」';
    }
  }



  em {
    color: $funEmbellish;
  }

  em strong {
    font-style: normal;
    color: $funEmbellish;
    background-color: $funError;
  }

  s {
    color: $funEmbellish;
  }

  hr {
    border-top: 1px solid $funError;
  }

  p code,
  li code,
  code {
    color: $funError;
    background-color: $productGradualMinor;
  }

  ol,
  ul {
    padding-left: 28px;

    li {
      margin-bottom: 0;
      list-style: inherit;
      color: $colorText;
      font-family: bold;
      letter-spacing: 1px;

      & .task-list-item {
        list-style: none;

        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 3px;
    }
  }

  ol li {
    padding-left: 6px;
  }


  h1::selection,
  h2::selection,
  h4::selection,
  h5::selection,
  h6::selection,
  img::selection {
    color: $productColor;
    background-color: #ffffff;
    font-weight: bolder;
  }

  h3::selection {
    background-color: $productGradualMinor;
    color: $funEmbellish;
  }

  a::selection,
  b::selection,
  strong::selection,
  i::selection,
  em::selection,
  del::selection {
    background-color: $productGradualMinor;
  }

  a:hover {
    color: $funEmbellish;
  }

  code::selection {
    background-color: $productGradualMinor;
  }

  pre {
    >code::selection {
      background-color: $productGradualMinor;
    }
  }

  table tr td,
  table tr th,
  .math .math-inline,
  ol li,
  ul li,
  p,
  strong,
  blockquote {
    &::selection {
      background-color: $productGradualMinor;
      color: $productGradualHost;
    }
  }

  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }
  }
}